*,
*::after,
*::before {
   box-sizing: border-box;
}
body {
   font-family: "Roboto", sans-serif;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   color: #000000;

   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
button {
   border: none;
   background-color: transparent;
}
a {
   color: inherit;
   text-decoration: none;
}
// -------------------------------------------------------------
.weather {
   &__content {
      width: 600px;
      height: 435px;
      border: 1px solid #000000;
      &-top {
         border-bottom: 1px solid #000;
      }
   }
   &__form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 11px 20px 11px 13px;
   }
   &__input {
      flex: 0 1 100%;
      border: none;
      padding-right: 16px;
      font-size: 18px;
      line-height: 21px;
      &::placeholder {
         font-size: 18px;
         line-height: 21px;
         color: #696969;
         text-transform: capitalize;
      }
   }
   &__btn {
      background-image: url("../img/shape.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 23px;
      height: 23px;
      background-size: cover;
   }
   &__info {
      display: flex;
      height: calc(100% - 45px);
   }
   &__left {
      flex: 0 1 50%;
      border-right: 1px solid #000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &__tabs {
      height: 100%;
      &-btns {
         display: flex;
         border-top: 1px solid #000;
         :not(:last-child) {
            border-right: 1px solid #000;
         }
      }
      &-btn {
         width: 100px;
         font-size: 18px;
         line-height: 21px;
         text-align: center;
         padding: 12px 0;
         text-transform: capitalize;
         transition: all 0.5s;
      }
   }
   &__tab {
      padding: 20px 0 0 24px;
      &:first-child {
         padding: 20px;
         padding-bottom: 0;
      }
      display: none;
      &--first {
         height: 310px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
      &-degrees {
         font-size: 70px;
         line-height: 82px;
         text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      &-img {
         margin: 0 auto;
         text-align: center;
      }
      &-list {
         :not(:last-child) {
            padding-bottom: 17px;
         }
      }
   }
   &__right {
      flex: 0 1 50%;
      &-title {
         text-transform: capitalize;
         border-bottom: 1px solid #000;
         display: block;
         padding: 32px 0 7px 14px;
      }
      &-block {
         display: flex;
         justify-content: space-between;
         align-items: center;
         &:hover .weather__right-btn {
            opacity: 0.9;
         }
      }
      &-btn {
         background-image: url("../img/del.png");
         width: 15px;
         height: 15px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         cursor: pointer;
         opacity: 0.5;
         transition: all 0.3s;
      }
      &-list {
         padding: 35px 14px 15px;
         p {
            text-transform: capitalize;
         }
         :not(:last-child) {
            margin-bottom: 8px;
         }
      }
      &-item {
         text-transform: capitalize;
         cursor: pointer;
         position: relative;
      }
   }
}

.tab {
   &__name {
      text-transform: capitalize;
      padding-bottom: 8px;
      &--twice {
         padding-bottom: 42px;
      }
   }

   &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__btn {
         width: 22px;
         height: 22px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         cursor: pointer;
         svg {
            transition: all 0.2s;
            stroke: #000;
            fill: transparent;
            &:hover {
               fill: #000;
            }
         }
      }
   }
   &-cards {
      margin-right: 5px;
      height: 286px;
      overflow: hidden;
      overflow-y: scroll;
   }
   &-card {
      border: 1px solid #000;
      font-size: 18px;
      line-height: 21px;
      padding: 9px;
      margin-right: 10px;
      margin-bottom: 10px;
      &__header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 27px;
      }
      &__bottom {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &__day {
         text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
   }
}

.card__precipitation {
   display: flex;
   flex-direction: column;
   align-items: center;
   &-img {
      width: 31px;
      height: 31px;
   }
}
// ---------------------------------------
.btn-active {
   background-color: #000;
   color: #fff;
}
.tab-active {
   display: block;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
   height: 1px;
   width: 6px;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
   background-color: #ccc;
   border-radius: 5px;
}
